.home_page{
  background-image: url(../img/bg1.jpeg);
  background-size: auto;
  color: aliceblue;
}

.home_logo{
  border: 2px solid antiquewhite;
  margin: 20px;
  padding: 5px;
}

.home_menu{
  margin-top: 30px;
  float: right;
  
}

.home_menu li{
  font-size: 20px;
  margin: 10px;
}

.pizza_menu{
  background-color: #865A30;
  text-align: center;
  margin-right: 20px;
  padding: 20px;
  width: auto;
  height: auto;
}

.menulist{
  padding: 20px;
}

.menuguide{
float: left;
}

.product img{
  height: 200px;
  width: 200px;
  border: 2px solid green;
  border-radius: 50%;
}

form {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

form #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 30px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ordersummary{
  background-color: burlywood;
  text-align: center;
  padding-right: 25px;
  padding: 10px;
  font-size: 25px;
  line-height: 60px;
  height: auto;
}

.orderform{
  text-align: center;
  
  
}

myorder{
  background-color: palegoldenrod;
  border: 2px solid black;
  
}

input,
textarea {
  
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}

.quantity{
  margin-right: 10pxs;
}

input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group {
  clear: both;
 text-align: center;
}

.input-group input[type='button'] {
  background-color: #eeeeee;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
}

.input-group .quantity-field {
  position: relative;
  height: 38px;
  left: -6px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
}

.button-plus {
  
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}
